h1{
    color: #05AF3D;
    text-align:center;
}

.jumbotron{
    background-color:#171717;
}

body{
    background-color:#171717;
}

p{
    color: white;
}

h3{
    color: #05AF3D;
}

li{
    color: white;
}

ul{
    list-style-type:none;
}

.subhead{
    color:white;
    text-align: center;
    font-style: italic;
    padding: 0;
}

.thanks {
    margin-top: 25px;
}